@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */ 

main{
  display: flex;
  margin: auto;

}

body {
  background-color: #3A4862;
  color: #FCB3B3;
}

.Title{
  display: flex;
  position: absolute;
  width: 70%;
  margin: auto;
}

.narrative {
  width: 40vw;
  color: #3A4862;
  background-color: #FCB3B3;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  font-size: small;

}

.choices {
  display: flex;
  flex-direction: column;

}

.button {
  background-color: #FCB3B3;
  color: #3A4862;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 5px;
  width: fit-content;
}

.button:hover{
  background-color: white;
}

.options{
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.options > a:hover{
  color: white;
}

.result{
  width: 50vw;
  padding:10px;
  border: solid #FCB3B3;
  border-radius: 5px;
  margin-bottom: 25px;
}

.result-view{
  display: flex;
  flex-direction: column;
  width:50vw;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top:50px;

}

.create-player{
  position: absolute;
  /* margin: auto; */
  border: solid #FCB3B3;
  padding: 25px;
  border-radius: 5px;
  display: flex;
  flex:auto;
}

.create-player-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}