@tailwind base;
@tailwind components;
@tailwind utilities; 


body {
  display:flex;
  align-content: center;
  flex-direction: column;
  margin:auto;
  background-color: #3A4862;
  color: #FCB3B3;
}

.Title{
  display: flex;
  position: absolute;
  width: 70%;
  margin: auto;
}

.narrative {
  width: 40vw;
  color: #3A4862;
  background-color: #FCB3B3;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  font-size: small;

}

.choices {
  display: flex;
  flex-direction: column;

}

.sign-in{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sign-in-input{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}

.sign-in-buttons{
  display: flexbox;
  padding: 5px;
  background-color: #FCB3B3;
  color: #3A4862;
  justify-content:space-around
}

.button{
  background-color: #FCB3B3;
  color: #3A4862;
  padding:5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover{
  background-color: white;
}