@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */ 


body {
  display:flex;
  align-content: center;
  flex-direction: column;
  margin:0px;
  padding: 10px;
  background-color: #3A4862;
  color: #FCB3B3;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.Title{
  display: flex;
  position: absolute;
  width: 70%;
  margin: auto;
}

.main-container{
  display:flex;
  flex-direction: row;
  align-content: space-between;

}

.game-area{
  flex-direction: column;
  width:50vw;
  padding: 0px 20px
}

.narrative {
  /* width: 40vw; */
  color: #3A4862;
  background-color: #FCB3B3;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  font-size: small;

}

.choices {
  display: flex;
  flex-direction: column;

}

.button {
  background-color: #FCB3B3;
  color: #3A4862;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 5px;
  width:fit-content;
}

.button:hover{
  background-color: white;
}


.nav-button {
  background-color: #FCB3B3;
  color: #3A4862;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 5px;
  width:140px;
  text-align: center;
  margin-bottom: 5px;
}

.nav-button:hover{
  background-color: white;
}


.options{
  padding-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.options > a:hover{
  color: white;
}

.inventory{
  width:30vw;
}

.inventory-list{
  border:solid #FCB3B3 ;
  border-radius: 5px;
  padding: 10px;
}

.inventory-item{
  padding: 5px;
  cursor: pointer;
  width:fit-content;
}

.inventory-item:hover{
  color:white;
  border:solid white ;
  border-radius: 5px;
  padding: 5px;

}

.collapsable-list{
  margin-right: 10px;
}

.ascii-image{
  border: solid #FCB3B3;
  border-radius: 5px;
}

.ascii{
  color: #FCB3B3;
}

.left-side-col{
  min-width: 30vh;
}

.ascii-image-container{
  margin-bottom: 10px;

  outline: 1px solid #3A4862;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23FCB3B3FF' stroke-width='4' stroke-dasharray='10%2c 15' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 10px;
  border-bottom: 4px;
  
}

.label{
  background-color: #FCB3B3;
  color:#3A4862;
  border-radius: 5px;
  padding: 5px 20px;
  width:fit-content;
  /* margin-bottom: -2px;
  margin-left: -2px; */
}

nav {
  display: flex;
  flex-direction: column;
  width:auto;
  align-items: start;
}

.nav-bar{
  
}
